.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}


.quiz-container {
  width: 50%;
  margin:0 auto;
  display: block;
  background-color: rgba(37,93,243,0.49);
  font-size: 18px;
}

.question {
  text-align: center;
  display: block;
}

.title {
  font-weight: bold;
}
